.login-container{
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
padding:20px;
}

.login-card{
width: 350px;
padding:40px;
border-radius:16px;
background:#152940;
border:1px solid #2a2733;
box-shadow:0 10px 30px rgba(0,0,0,0.25);
}

.login-card h1{
text-align:center;
color:#d9d0d3;
font-size:28px;
}

.login-card h2{
text-align:center;
margin:0;
color:#f6f5f8;
font-size:26px;
}

.login-subtitle{
text-align:center;
color:#a39fae;
margin:8px 0 30px;
}

.login-input-group{
display:flex;
flex-direction:column;
margin-bottom:20px;
}

.login-input-group label{
color:#f6f5f8;
margin-bottom:8px;
font-size:14px;
}

.login-input-group input{
padding:13px 15px;
border-radius:8px;
border:1px solid #2a2733;
background:#0b0b0f;
color:#f6f5f8;
font-size:15px;
}

.login-button{
width:100%;
padding:13px;
border:none;
border-radius:8px;
background:#A7D533;
color:white;
font-size:16px;
font-weight:bold;
cursor:pointer;
margin-top:5px;
}

.login-button:hover{
opacity:0.9;
}

.forgot-password{
display:block;
margin:18px auto;
border:none;
background:none;
color:#a39fae;
cursor:pointer;
}

.register-link{
display:flex;
justify-content:center;
gap:5px;
margin-top:25px;
color:#a39fae;
font-size:14px;
}

.register-link button{
border:none;
background:none;
color:#A7D533;
cursor:pointer;
font-weight:bold;
}